

@{
    ViewBag.Title = "Info";

    <div class="form-group">
        <label for="telNo">Telephone Number:</label>
        <input type="text" class="form-control" id="telNo" name="telNo">
    </div>
    <div class="form-group">
        <label for="cellNo">Cell Number:</label>
        <input type="text" class="form-control" id="cellNo" name="cellNo">
    </div>
    <div class="form-group">
        <label for="addressLine1">Address Line 1:</label>
        <input type="text" class="form-control" id="addressLine1" name="addressLine1">
    </div>
    <div class="form-group">
        <label for="addressLine2">Address Line 2:</label>
        <input type="text" class="form-control" id="addressLine2" name="addressLine2">
    </div>

}

<h2>Info</h2>



